.["app", "layers"].app {
  background-image: url(https://i.ibb.co/kmJR4h5/wallpaperflare-com-wallpaper.jpg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}